{% extends 'recommender/base.html' %}

{% block content %}
<p>To create a new request, tap on the add icon at the top right of your page. Once you have made a request, they will show up below.</p>
<h2>Saved Recommendations</h2>
<p>Tap on a saved recommendation below to view its details!</p>
{% for post in posts %}
<article class="post">
    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
    <p>Ingredients: {{ post.ingredients|linebreaksbr }}</p>
    <p>Tools: {{ post.tools|linebreaksbr }}</p>
</article>
{% endfor %}
{% endblock %}